:root {
  --darkBrown: #783600;
  --offWhite: #fff2d0;
  --tangerineYellow: #fecd01;
  --lightCobaltBlue: #88ace0;
  --geraldine: #ea6969;
}

body {
  color: var(--darkBrown);
  background-color: var(--offWhite);
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: auto;
  text-align: center;
}

.board {
  display: flex;
  justify-content: center;
  position: relative;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  position: absolute;
}